<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>WHMCS</name>
	<version>234</version>
	<defaultcat>Server Admin</defaultcat>
	<type>user</type>
	<desc>WHMCS is a licensed billing system. This module allows you to connect WHMCS to the hosting control panel.</desc>
	<authorname>Rynoxx</authorname>
	<authoremail>rynoxx@grid-servers.net</authoremail>
	<authorurl>https://github.com/rynoxx</authorurl>
	<updateurl>http://zppy.grid-servers.net/whmcs.xml</updateurl>
</module>
